<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp1.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WindowsFormsApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <WindowsFormsApp1.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>defaults.txt</value>
            </setting>
        </WindowsFormsApp1.Settings>
        <WindowsFormsApp1.Settings1>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
        </WindowsFormsApp1.Settings1>
    </applicationSettings>
</configuration>
